// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

@font-face {
  font-family: toggleFont("Poppins-Regular", "ReadexPro-Regular");
  src: toggleFont(url("../fonts/Poppins-Regular.ttf"), url("../fonts/ReadexPro-Regular.ttf"));
}

@font-face {
  font-family: toggleFont("Poppins-Light", "ReadexPro-Light");
  src: toggleFont(url("../fonts/Poppins-Light.ttf"), url("../fonts/ReadexPro-Light.ttf"));
}

@font-face {
  font-family: toggleFont("Poppins-Medium", "ReadexPro-Medium");
  src: toggleFont(url("../fonts/Poppins-Medium.ttf"), url("../fonts/ReadexPro-Medium.ttf"));
}

@font-face {
  font-family: toggleFont("Poppins-SemiBold", "ReadexPro-SemiBold");
  src: toggleFont(url("../fonts/Poppins-SemiBold.ttf"), url("../fonts/ReadexPro-SemiBold.ttf"));
}

@font-face {
  font-family: toggleFont("Poppins-Bold", "ReadexPro-Bold");
  src: toggleFont(url("../fonts/Poppins-Bold.ttf"), url("../fonts/ReadexPro-Bold.ttf"));
}