.text-xxs {
    font-size: calcRem(10);
}

.text-xs {
    font-size: calcRem(12);
}

.text-sm {
    font-size: calcRem(14);
}

.text-md {
    font-size: calcRem(16);
}

.text-lg {
    font-size: calcRem(18);
}

.text-xl {
    font-size: calcRem(20);
}

.text-xxl {
    font-size: calcRem(22);
}

.text-xxxl {
    font-size: calcRem(23);
}

.font-r {
    font-family: $font-r;
}

.font-b {
    font-family: $font-b;
}

.font-m {
    font-family: $font-m;
}


.section-title {
    font-size: calcRem(36);
    font-family: $font-b;
    margin-bottom: calcRem(45);
}

.section-title-underline {
    font-size: calcRem(24);
    font-family: $font-b;
    position: relative;
    padding-bottom: 15px;
    margin-bottom: 35px;

    &::after {
        content: "";
        position: absolute;
        width: calcRem(90);
        height: 2px;
        background-color: $main-color;
        right: 0;
        bottom: 0;
        border-radius: 10px;
    }
}