.btn {
    border-radius: 6px;
    padding: calcRem(13) calcRem(20);
    font-family: $font-m;
    font-size: calcRem(14);
}

.btn-primary {
    background-color: $primary;
    position: relative;
    color: $white;
    border-color: $primary; 

    &:hover {
        background-color: #0a6dab;
        border-color: #0a6dab;
    }

    &:not(:disabled):not(.disabled):active {
        background-color: #0a6dab;
        border-color: #0a6dab;
    }

}

.btn-outline-primary {
    color: $primary;
    border-color: $primary;

    &:hover {
        background-color: #0a6dab;
        border-color: #0a6dab;
    }

    &:not(:disabled):not(.disabled):active {
        background-color: #0a6dab;
        border-color: #0a6dab;
    }
}

.btn-warning {
    background-color: $brand-color;
    position: relative;
    color: $white;
    border-color: $brand-color;

    &:hover {
        background-color: #937120;
        border-color: #937120;
        color: $white;
    }

    &:not(:disabled):not(.disabled):active {
        background-color: #937120;
        border-color: #937120;
        color: $white;
    }

}

.btn-outline-warning {
    color: $brand-color;
    border-color: $brand-color;

    &:hover {
        background-color: $brand-color;
        border-color: $brand-color;
        color: $white;
    }

    &:not(:disabled):not(.disabled):active {
        background-color: $brand-color;
        border-color: $brand-color;
        color: $white;
    }
}

.btn-success {
    background-color: $main-color;
    position: relative;
    color: $white;
    border-color: $main-color;

    &:hover {
        background-color: #34b34f;
        border-color: #34b34f;
    }

    &:not(:disabled):not(.disabled):active {
        background-color: #34b34f;
        border-color: #34b34f;
    }

}

.btn-light {
    --bs-btn-color: #007A3D;
    --bs-btn-bg: #f8f9fa;
    --bs-btn-border-color: #f8f9fa;
    --bs-btn-hover-color: #000;
    --bs-btn-hover-bg: #d3d4d5;
    --bs-btn-hover-border-color: #c6c7c8;
    --bs-btn-focus-shadow-rgb: 211,212,213;
    --bs-btn-active-color: #000;
    --bs-btn-active-bg: #c6c7c8;
    --bs-btn-active-border-color: #babbbc;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #000;
    --bs-btn-disabled-bg: #f8f9fa;
    --bs-btn-disabled-border-color: #f8f9fa;
}