.ul-list {
    li {
        font-family: $font-r;
        margin-bottom: 15px;

        a {
            color: $dark;
        }
    }
}

.ul-bullets {

    list-style: disc;
    padding-#{$right}: 15px;

    &::before {
        content: attr(aria-label);
        display: block;
        font-size: calcRem(14);
        color: $main-color;
        margin-#{$right}: -15px;
        margin-bottom: calcRem(15);
    }

    li {
        font-size: calcRem(14);
        line-height: 24px;
        margin-bottom: 5px;

        a {
            color: $dark2;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

}

.hv-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: $moon-grey;
    text-decoration: none;
    position: relative;
    border-radius: 2px;
    padding: calcRem(20) calcRem(15) calcRem(15);
    color: $dark;
    font-size: calcRem(14);
    line-height: 1.5;

    @include mq('lg') {
        min-height: 230px;
    }

    @include mq('xl') {
        padding: calcRem(30) calcRem(15) calcRem(15);
    }

    * {
        position: relative;
        z-index: 1;
    }


    .title {
        font-size: calcRem(16);
        font-family: $font-b;
        margin: 10px 0 15px 0;
    }

    .text {
        margin-bottom: 10px;
        @include ellipse-rows(4);

        @include mq('xl') {
            padding: 0px 25px 0 1px;
        }

    }


    &::after {
        content: "";
        height: 3px;
        border-radius: 2px;
        bottom: 0;
        width: 100%;
        position: absolute;
        left: 0;
        transition: 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    }

    &:hover {
        color: $white;
        text-decoration: none;

        img {
            filter: contrast(2) brightness(10);
        }

        &::after {
            height: 100%;
        }
    }

    &.success {
        background-color: #E9F3EA;

        [class^=icon] {
            color: $valid-color;
        }

        &::after {
            background-color: $valid-color;
        }

        &:hover {
            [class^=icon] {
                color: $white;
            }
        }
    }

    &.warning {
        background-color: #FFF8E5;

        [class^=icon] {
            color: $brand-color;
        }

        &::after {
            background-color: $brand-color;
        }

        &:hover {
            img {
                filter: brightness(26);
            }

            [class^=icon] {
                color: $white;
            }
        }
    }

    &.primary {
        background-color: #E1F5FE;

        .hover-show {
            display: none;
        }

        [class^=icon] {
            color: $primary;
        }

        &::after {
            background-color: $primary;
        }

        &:hover {
            .hover-show {
                display: block;
            }

            .unhover {
                display: none;
            }

            img {
                filter: invert(1);
            }

            [class^=icon] {
                color: $white;
            }
        }
    }

}

// Auto Numirc List Ol

.num-list {

    counter-reset: numList;

    li {
        position: relative;
        padding-left: 42px;
        margin-bottom: calcRem(25);
        font-family: $font-r;
        font-size: calcRem(16);

        &::before {
            counter-increment: numList;
            content: counter(numList);
            counter-increment: numList;
            content: counter(numList);
            width: 32px;
            height: 32px;
            border-radius: 50%;
            background-color: #F8ECCA;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            position: absolute;
            left: 0;
            color: $dark;
        }
    }
}