.loader-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: $white;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    z-index: 99;
}

.flex {
    min-height: 60pt;
}


.loader {
    width: 50pt;
    height: 50pt;
    border-radius: 100%;
    border: $main-color 4pt solid;
    margin-left: auto;
    margin-right: auto;
    background-color: transparent;
    animation: loading 1s infinite;
}

.load-text {
    padding-top: 15px;
    text-align: center;
    color:  $main-color;
    font-family: $font-b;
}