.nav-tabs {
    border: none;
    padding: 15px;
    background-color: $white;
    margin-bottom: calcRem(30);
    border-radius: $border-radius;

    .nav-item {
        .nav-link {
            border: none;
            color: $dark3;
            padding: 20px;
            margin-bottom: 0;
            transition: 0.3s ease;
            border-radius: 6px;
            font-size: calcRem(14);
            font-family: $font-sb;
            line-height: 20px;

            @include mq('md') {
                font-size: calcRem(16);
            }

            &:hover,
            &.active {
                color: $white;
                background-color: $main-color;
            }
        }
    }

}