.wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;

    // Header and footer top and buttom

    // Main Css
    .main {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
        position: relative;
        z-index: 1;
    }
}