// -----------------------------------------------------------------------------
// This file contains all application-wide Sass mixins.
// -----------------------------------------------------------------------------

//////////////////////////////////////////////
/// this mixin to handle all element hover effects
//////////////////////////////////////////////

@mixin on-event($self: false) {
  @if $self {

    &,
    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }

  @else {

    &:hover,
    &:active,
    &:focus {
      @content;
    }
  }
}
 
//


//////////////////////////////////////



@mixin ellipse-rows($num) {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $num;
  -webkit-box-orient: vertical;
}


//////////////////////////////////////////////
// Use this with Mobile First
//////////////////////////////////////////////

$breakpoints: ('xs': 0,
  'sm': 576px,
  'md': 768px,
  'lg': 992px,
  'xl': 1200px,
  'xxl': 1400px);

//use max if use desktop first  --- mobile first change it to min
@mixin mq($width, $type: min) {
  @if map_has_key($breakpoints, $width) {
    $width: map_get($breakpoints, $width);

    @if $type==min {
      // $width: $width - 1px;
      $width: $width;
    }

    @media only screen and (#{$type}-width: $width) {
      @content;
    }
  }
}
