%scroll {
  scrollbar-width: thin;
  scrollbar-color: $brand-color $white;

  // /* width */
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
  }

  /* Handle */
  &::-webkit-scrollbar-thumb {
    background: $dark;
  }
}