// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

//////////////////////////////////////////////
// Fonts  Vars 
//////////////////////////////////////////////
$font-r: toggleFont(Cairo-Regular, ReadexPro-Regular);
$font-l: toggleFont(Cairo-Light, ReadexPro-Light);
$font-m: toggleFont(Cairo-Medium, ReadexPro-Medium);
$font-sb: toggleFont(Cairo-SemiBold, ReadexPro-SemiBold);
$font-b: toggleFont(Cairo-Bold, ReadexPro-Bold);

//Border Raduis 

$border-radius: 6px;
/*=======================
    Colors
=======================*/


$black : #000000;
$white : #FFF;
$primary: #0074BC;
$rose : #e51d74;

$main-color: #007A3D;
$invalid-color: #CE1126;

$dark: #171C19;
$dark2: #313A35;
$dark3: #68716C;
$dark4: #88958E;
$dark5: #AEB9B3;
$dark6: #EEEEEE;


/////////////////////////////
// Social Media Color
/////////////////////////////

$facebook : #3b5999;
$messenger : #0084ff;
$twitter : #55acee;
$linkedin : #0077B5;
$skype : #00AFF0;
$dropbox : #007ee5;
$wordpress : #21759b;
$vimeo : #1ab7ea;
$slideShare : #0077b5;
$vk : #4c75a3;
$tumbler : #34465d;
$yahoo : #410093;
$gplus : #dd4b39;
$pinterest : #bd081c;
$youtube : #cd201f;
$whatsapp : #25D366;
$slack : #3aaf85;
$instagram : #e4405f;



//  Theme Colors
$brand-color: #B48B2A;
$moon-grey: #DEDEDE;




$valid-color: #70B276;
// Custom colors


$light-grey: #F0F6F3;
$medium-grey: #575757;
$purple: #C017A2;
$section-bk: #EEEEEE;