.image-videos {
    padding: calcRem(60) 0;

    @include mq('xl') {
        padding: calcRem(180) 0;
    }

    .gallery-card {
        border: none;
        filter: drop-shadow(0 10px 30px #0000000f);
        transition: 0.4s ease-in-out;
        cursor: pointer;

        .card-image {
            position: relative;
            --image-height: 200px;
            overflow: hidden;
            border-radius: 6px;

            @include mq('sm') {
                --image-height: 140px;
            }
            @include mq('xl') {
                --image-height: 205px;
            }
            img {
                height: var(--image-height);
                object-fit: cover;
                max-width: 100%;
                transition: 0.4s ease-in-out;
            }

            &::after {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                right: 0;
                height: var(--image-height);
                bottom: 0;
                background-color: rgba(23, 28, 25, 0.40);
            }

            &::before {
                font-family: "Font Awesome 6 Free";
                font-weight: 400;
                content: "\f03e";
                width: calcRem(52);
                height: calcRem(52);
                background-color: $white;
                position: absolute;
                display: flex;
                top: 50%;
                left: 50%;
                bottom: 0;
                z-index: 2;
                transform: translate(-50%, -50%);
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                font-size: calcRem(18);
                color: $main-color;
            }

            &.fancy-video {
                &::before {
                    content: "\f008";
                    font-weight: 900;
                }
            }
        }

        .card-body {
            .card-title {
                font-size: calcRem(14);
                font-family: $font-m;
                color: $dark;
            }

            .card-date {
                color: $dark3;
                font-size: calcRem(13);
            }
        }

        &:hover {
            filter: drop-shadow(0 10px 30px #00000032);
        }

    }
}