.contact-section {
    background-color: $white;
    padding: calcRem(30);
    border-radius: $border-radius;

    .contact-details-head {
        font-size: calcRem(14);
        color: $dark2;
    }
    .contact-details-info {
        font-size: calcRem(16);
        color: $dark;
        font-family: $font-m;
        margin-top: 5px;
    }
}
.circle-icon  {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(0, 122, 61, 0.10);
}